.general {
  color: #478334;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.h1 {
  font-size: 2em;
  color: #be0c0c;
}

.small {
  font-size: 1em;
  color: #603232;
}

.a {
  text-decoration: none;
  color: blue;
}

